:root {
  --main-background: #2d2d2d;
  --side-background: #191919;
  --side-second-background: #404040;
}

* {
  user-select: none;
}

.full-height {
  height: 100%;
}

html {
  height: 100vh !important;
  background: yellow !important;
  padding: 0 !important;
  margin: 0 !important;
}

body {
  height: 100vh !important;
  background: red !important;
  padding: 0 !important;
  margin: 0 !important;
}
