/*******************************
            Themes
*******************************/
 /* Global */
@site        : 'default';
@reset       : 'default';
 /* Elements */
@button      : 'default';
@container   : 'default';
@icon        : 'spanish';
@lineHeight: 1.2em;
@lineHeightOffset: ((@lineHeight - 1em) / 2);
@padding: (@verticalPadding - @lineHeightOffset) @horizontalPadding;
@menuIconFloat: right;
@menuIconMargin: @lineHeightOffset 0em 0em 1em;